<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Calculator Rule">
                    <match url="^calculator/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="calculator/index.php?slug={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
